In [2]:
import pandas as pd
import datetime as dt
from pathlib import Path

ppsf_data = Path("../Resources/ppsf.csv")
ppsf_df = pd.read_csv(ppsf_data)
ppsf_df.head()

,Unnamed: 0,Month of Period End,Month of Period End.1,Month of Period End.2,Month of Period End.3,Month of Period End.4,Month of Period End.5,Month of Period End.6,Month of Period End.7,Month of Period End.8,...,Month of Period End.116,Month of Period End.117,Month of Period End.118,Month of Period End.119,Month of Period End.120,Month of Period End.121,Month of Period End.122,Month of Period End.123,Month of Period End.124,Month of Period End.125
0,Region,February 2012,March 2012,April 2012,May 2012,June 2012,July 2012,August 2012,September 2012,October 2012,...,October 2021,November 2021,December 2021,January 2022,February 2022,March 2022,April 2022,May 2022,June 2022,July 2022
1,"Maricopa County, AZ",75.5,78.3,82.3,86.3,87,87.3,88.6,91.1,92,...,251.7,256.4,257.6,262.6,270.4,279.1,287.3,292.8,290.3,282.7

In [40]:
ppsf_dt = ppsf_df.T.reset_index(drop=False)
ppsf_dt = ppsf_dt.drop([0], axis=0)

In [41]:
ppsf_dt.dtypes

index    object
0        object
1        object
dtype: object

In [42]:
#ppsf_dt = ppsf_dt[1].astype(float)

In [51]:
ppsf_dt[1].astype(float)

1       75.5
2       78.3
3       82.3
4       86.3
5       87.0
       ...
122    279.1
123    287.3
124    292.8
125    290.3
126    282.7
Name: 1, Length: 126, dtype: float64

In [52]:
ppsf_dt.head()
ppsf_dt.dtypes

index    object
0        object
1        object
dtype: object